header{

background-image:url(../images/PhotoBande1.png) ;
background-size: cover ;
background-repeat: no-repeat;
background-position: bottom; center;
background-attachment: local;
margin: auto;
height: 10cm;


}
html{
  background-color: #eaf0f2;
}
.Usuale
{
    font-family: videopac ;
    color: white; 
}
.UsualChar
{
  font-family: videopac;

}
.SousTitre
{

    font-family: videopac;
    color: red;
   
  
}
h1{
  font-family: videopac;
}

.TDOLogo{
    background-color: red;
    float: left;
}
.title {

        font-family: videopac;
        text-align: center;
        color: white;
        margin: auto;
        border: 10px inset red;
        border-radius:  30px;
        clear: left;
        width: 50%;
        font-size: 40px;
        margin: 0px auto;
        text-align: center;
        text-shadow: 0px 1px 1px #ddd,
                     0px 1px 1px #d6d6d6,
                     0px 2px 1px #ccc,
                     0px 2px 1px #c5c5c5,
                     0px 3px 1px #c1c1c1,
                     0px 4px 1px #bbb,
                     0px 5px 1px #777,
                     0px 7px 3px rgba(100, 100, 100, 0.4),
                     0px 8px 5px rgba(100, 100, 100, 0.1),
                     0px 10px 7px rgba(100, 100, 100, 0.15),
                     0px 11px 9px rgba(100, 100, 100, 0.2),
                     0px 12px 11px rgba(100, 100, 100, 0.25),
                     0px 13px 15px rgba(100, 100, 100, 0.3);
     transition:all .8s ease-in-out;  
      -o-transition:all .8s ease-in-out;  
      -moz-transition:all .8s ease-in-out;  
      -webkit-transition:all .8s ease-in-out;
}


.Usual
{
    font-family: diavlo;
    font-color : 
}

.welcome {

    text-align: center;
    color: red;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#cssmenu
{
  background-size: cover ;


}

#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #white;
  font-family: videopac, sans-serif;
  line-height: 1;
}
#cssmenu ul {
  background: red;
}

#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: white;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: red;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: white;
}

#VideoPrem
{
    text-align: absolute;
}
 
 #Form1
 {
    float :left;
     }

.footer-distributed{
  background-color: red;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 13, 0.5);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  font-family: videopac;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-company-about div{
  display: block;
  color:  #ffffff;
  font-size: 5px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  grey;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */
.LogoFooter
{
  width: 10%;
}
@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
.block
{

 width: 33.33%;
  height: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
}
.img
{

width:270px;
height:200px;
display: block;
margin-left: auto;
margin-right: auto;
 }

.img:hover
{
  filter: brightness(50%);
  z-index: 1000;
  width:420px;
  height:350px;
  transition: filter 0.5s;
  padding.opacity: 0.8;
}




